<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenzhihao.serviceuser.mapper.PetstoreMapper">

    <resultMap id="BaseResultMap" type="com.chenzhihao.serviceuser.model.Petstore">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pid" column="pid" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="healthpoint" column="healthPoint" jdbcType="DECIMAL"/>
            <result property="physicaldamagepoint" column="physicalDamagePoint" jdbcType="DECIMAL"/>
            <result property="magicaldamagepoin" column="magicalDamagePoin" jdbcType="DECIMAL"/>
            <result property="physicaldefence" column="physicalDefence" jdbcType="DECIMAL"/>
            <result property="magicaldefence" column="magicalDefence" jdbcType="DECIMAL"/>
            <result property="speed" column="speed" jdbcType="DECIMAL"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="performed" column="performed" jdbcType="INTEGER"/>
            <result property="skillone" column="skillone" jdbcType="INTEGER"/>
            <result property="skilltwo" column="skilltwo" jdbcType="INTEGER"/>
            <result property="skillthree" column="skillthree" jdbcType="INTEGER"/>
            <result property="skillfour" column="skillfour" jdbcType="INTEGER"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pid,uid,
        healthPoint,physicalDamagePoint,magicalDamagePoin,
        physicalDefence,magicalDefence,speed,
        createTime,updateTime,performed,
        skillone,skilltwo,skillthree,
        skillfour,level
    </sql>
</mapper>
