<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenzhihao.serviceuser.mapper.SkillsMapper">

    <resultMap id="BaseResultMap" type="com.chenzhihao.serviceuser.model.Skills">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="power" column="power" jdbcType="INTEGER"/>
            <result property="attribute" column="attribute" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="usetimes" column="usetimes" jdbcType="INTEGER"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="powertype" column="powertype" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type,
        power,attribute,description,
        usetimes,createTime,updateTime,
        powertype
    </sql>
</mapper>
